[phases.setup]
nixPkgs = ["php82", "python311", "composer", "nodejs_20"]

[phases.install]
cmds = [
    "python3 -m pip install -r requirements.txt",
    "cd laravel_web && composer install --no-dev --optimize-autoloader"
]

[start]
cmd = "cd laravel_web && php -S 0.0.0.0:$PORT router.php"
